 .u-section-1 {
  background-image: url("images/eda5b228340c2df4ef76517b0e1f4ee4b4b4a23c6b5ba8769bf5b696231a1ae6a7fcc5ed05866fd9a592a93b153273908a45963f8434ddeab36e14_12801.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-1 .u-form-1 {
  height: 665px;
  width: 1006px;
  margin: 453px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-6 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-7 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-8 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-input-9 {
  font-weight: 400;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-10 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 2px 38px 13px 0 rgba(0,0,0,0.65);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  background-image: none;
  padding: 20px 60px 20px 59px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 52px;
  margin-top: 8px;
  min-height: 65px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1693px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-form-group-6 {
    width: 100%;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-form-group-8 {
    width: 100%;
  }

  .u-section-1 .u-form-group-9 {
    width: 100%;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    transition-duration: 0.25s;
    transform: scale(1) translateX(10px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1679px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}